<li id="user-<%= user.id %>">
<%= link_to gravatar_for(user, size: 50), user %>
<%= link_to user.name, user %>
<% if current_user == @user %>
  <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
<% end %>
</li>
