<li id="user-<%= user.id %>">
<%= link_to gravatar_for(user, size: 50), user %>
<%= link_to user.name, user %>
<%# フォロー済みだったら解除ボタンを出す %>
<% if current_user.following?(user) %>
    <%= link_to "Delete", current_user.following_relationships.find_by(followed_id: user.id), remote: true, method: :delete, id: 'unfollow_button' %>
<% end %>
</li>
