<div class="main_info">
<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
</div>
<div class="follow_info">
<span class="num_info"><%= link_to "ツイート#{ current_user.microposts.count }", current_user %></span>
<span class="num_info">フォロー<%#= current_user.followings %></span>
<span class="num_info">フォロワー<%#= current_user.followers %></span>
</div>